{% extends "layouts/base.html" %}

{% block title %} Add - User {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Adiconar User</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">User</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Adiconar User</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Formulario</h5>
                            </div>
                            <form role="form" method="post" action="submit">{% csrf_token %}                    
        
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                {{ form.username }}
                                            </div>
                                            <span class="text-error">{{ form.username.errors }}</span>
                                        </div>
                                    </div>
            
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                {{ form.email }}
                                            </div>
                                            <span class="text-error">{{ form.email.errors }}</span>
                                        </div>
                                    </div>
            
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                {{ form.password1 }}
                                            </div>
                                            <span class="text-error">{{ form.password1.errors }}</span>
                                        </div>
                                    </div>
            
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                {{ form.password2 }}
                                            </div>
                                            <span class="text-error">{{ form.password2.errors }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
