{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Listagem Dizimo</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/dashboard/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">tabelas</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">listagem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Listagem Dizimo</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <form id="form" method="post"> {% csrf_token %}
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nome</th>
                                                    <th>CPF</th>
                                                    <th>Telefone</th>
                                                    <th>Valor</th>
                                                    <th>Data/Horario</th>
                                                    <th>Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for dz in dizimo %}
                                                <tr>
                                                    <th scope="row" id="teste">{{ dz.id }}</th>
                                                    <td>{{ dz.name }}</td>
                                                    <td>{{ dz.cpf }}</td>
                                                    <td>{{ dz.tel }}</td>
                                                    <td>{{ dz.get_value_formatado }}</td>
                                                    <td>{{ dz.get_data_formatado }}</td>
                                                    <td>
                                                        <a href="/dashboard/deletar/dizimo/{{dz.id}}" type="submit" class="btn btn-danger"  >Deletar</a>
                                                        <a href="/dashboard/pages/editar-dizimo/{{dz.id}}" type="submit" class="btn btn-success"  >Editar</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </form>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>

    </div>
</div>


{% endblock content %}
