
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a 
                   href="/dashboard" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                        {% comment %} <img src="img/elim.jpeg"/> {% endcomment %}
                    </div>
                    <span class="b-title">Ministério Elim</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Atividades</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clock"></i></span><span class="pcoded-mtext">Agendas</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-agenda/" class="">Adicionar Agenda</a></li>
                            <li class=""><a href="/dashboard/pages/listar-agenda/" class="">Listar agendas </a></li>
                        </ul>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Eventos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-evento/" class="">Adicionar Evento</a></li>
                            <li class=""><a href="/dashboard/pages/listar-evento/" class="">Listar Evento </a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Site</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-circle"></i></span><span class="pcoded-mtext">Post</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-post/" class="">Adicionar Post</a></li>
                            <li class=""><a href="/dashboard/pages/listar-post/" class="">Listar Post </a></li>
                        </ul>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-headphones"></i></span><span class="pcoded-mtext">Feedback</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/listar-feedback/" class="">Listar Feedback</a></li></li>
                        </ul>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-camera"></i></span><span class="pcoded-mtext">Slides</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-slide/" class="">Adicionar Slide</a></li>
                            <li class=""><a href="/dashboard/pages/listar-slide/" class="">Listar Slides </a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Financeiro</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Dizimo</span></a>
                        <ul class="pcoded-submenu">
                            <li class="/"><a href="/dashboard/pages/add-dizimo/" class="">Adicionar Dizimo</a></li>
                            <li class=""><a href="/dashboard/pages/listar-dizimo/" class="">Listar Dizimo </a></li>
                        </ul>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Oferta</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-oferta/" class="">Adicionar Oferta</a></li>
                            <li class=""><a href="/dashboard/pages/listar-oferta/" class="">Listar Oferta </a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Sistema</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-plus"></i></span><span class="pcoded-mtext">Usuario</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/dashboard/pages/add-user/" class="">Adicionar Usuario</a></li>
                            <li class=""><a href="/dashboard/pages/listar-user/" class="">Listar Usuario </a></li>
                        </ul>
                    </li>

                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
            </div>
        </div>
    </nav>
